{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/aboutspon.css'%}">
    <link rel="stylesheet" href="css-folder/signin.css">
    <link rel="stylesheet" href="css-folder/team.css">
    <link rel="stylesheet" href="css-folder/newaccount.csss">
  </head>
<body>
 
  <!-- the main navbar pls dont edit this code just copy all -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"> <img src="{% static 'imagefolder/fs-footer-img.svg' %}" alt="" width="200"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> 
          
          <li class="nav-itemm dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Company
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="aboutspon.html">About</a></li>
              <li><a class="dropdown-item" href="{%url 'signin'%}">TEAM</a></li>

            </ul>
          </li>
                        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Product
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#"> Froshen Chicken</a></li>
            </ul>
          </li>


                                      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Get help
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#"> Contact </a></li>
              <li><a class="dropdown-item" href="#"> FQA</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">VestBanking </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"> Farm List</a>
          </li>

          <li class="button_nav">
            <a href="{% url 'signin' %}"><button class="btn btn-outline-success">Sign in</button></a>
          </li>

         
           <a href="{% url 'passwordreset' %} "><button class="button_get"> Get Started</button></a>
          

  
        </ul>
      </div>
    </div>
  </nav>
<!-- theend  main navbar pls dont edit this code just copy.. -->



<div class="about">
  <div class="image1">
     
    <img class="image1-1" src="{% static 'imagefolder/about-header-ceo.svg' %} " alt="..." width="80%">
    <p> Bill Kenneth Co-founder/CEO</p>
    
 </div>   
 
<div class="aboutmain">
 
  <div class="about1">
     <img src="{% static 'imagefolder/about-header-bg.svg'%} " alt="..." width="70%">
  </div>

<div class="about2">
 <h1 class="h1">Secure Your Investment Portfolio With Farmsponsor</h1>

   <p class="p1"> Farmsponsor is an agric-tech business with the mandate to promote food
     security in Africa with a host of our products </p>
   
     <p class="p1">Get Started </p>

     <p class="p1"> Check our Youtube channel for more info</p>
    <a href="https://farmsponsor.com.ng/about#"> Watch the clips <span>
      <img src="{%static 'imagefolder/right-arrow.svg' %} " alt=""></span></a>
  </div>
</div> 
</div>



      <div class="about3">
        <h1>Our Mission and Vision</h1>
        <p> We have always been resolute in pursuing our mandate of food security with the involement of everyone using technology.</p>
    </div>
    <div class="aboutmainmain">

    <div class="about3-1">
      <div>
      <img src="{ % Static 'imagefolder/about-mission-img.svg' % }" alt="">
       </div>  
        <div class="about-h1"> 
            <h2> Our Mission</h2>
            <p> Our mission is to drive the participation of everyone in agriculture using technology. </p>
        </div> 
    </div>
  
  <div class="about3-2">
        <div>
          <img src="{% static 'imagefolder/about-vision-img.svg'% } " alt="" >
        </div>
           <div class="about-h2">
               <h2> Vision</h2>
               <p> Our vision is to ensure food is available for everyone by getting everyone involved in agriculture.

            </p>
      </div>
  </div>
</div>

<div class="about4">
<h1> We’ve been making progress</h1>
<div class="about4-1">
    <div class="abt1">
    <img src="{% static 'imagefolder/reviews-fs (1).png'%} " alt="">
    <p> 100+ Reviews</p>
  </div>

  <div class="abt2">
    <img src="{% static 'imagefolder/farmers.svg'%} " alt="">
    <p> 100+ Reviews</p>
  </div>
  

  <div class="abt3">
    <img src="{% static 'imagefolder/sponsors-fs.svg'%} " alt="">
    <p> 4,000+  Sponsors</p>
  </div>


  <div class="abt4">
    <img src="{% static 'imagefolder/farms-fs.svg'%} " alt="">
    <p> 1,000+  Farms</p>
  </div>


  <div class="abt5">
    <img src="{% static 'imagefolder/cycles.svg'%} " alt="">
    <p> 36  Cycles</p>
  </div>
  
</div>
</div>

<div class="about5">
    <div class="abt5-our"> 
        <h1> Our Services</h1>
        <p> We offer several services spaning across ecommerce, investment portfolio, and other agro based services</p>
    </div>
    
    <div class="about5-body">
        <div class="abt5-body1">
            <img src="{%static 'imagefolder/services-img01.svg' %} " alt="">
            <h2>Regular Sponsorship </h2>
            <p> We open Regular Sponsorship windows for poultry farming at least once a month. 
                You can sponsor a local farmer with Farmsponsor every month for a return on your sponsorship.</p>
        </div>
        <div class="abt5-body2" >
            <img src="{% static 'imagefolder/services-img02.svg' %} " alt="">
            <h2> Equity Sponsorship</h2>
            <p> Funding for our farm expansion plan is to be sourced from private equity sponsors, 
                who are interested in a medium-term investment of five years with a minimum equity contribution of N1,000,000 per sponsor.</p>
        </div>

        <div class="abt5-body3">
            <img src="{% static 'imagefolder/services-img03.svg' %} " alt="">
            <h2> Vestbanking</h2>
            <p> VestBanking allows sponsors to add more value by keeping their funds with us till a new sponsorship window opens,
                and the benefits are enormous as sponsors can now participate in future sponsorship windows in advance, on time and
                before the unit sells out.</p>
        </div>
   </div>
 
      <div class="about5-body1">
        <div class="abt5-body4" >
            <img src="{% static 'imagefolder/services-img04.svg' %} " alt="">
            <h2> FOGS</h2>
            <p> Farmsponsor Out-Grower Scheme, a programme of Farmsponsor that caters for farmers. 
                They enjoy access to quality farm inputs/services (feed, medication, day old chicks, Veterinarian, insurance) 
                and market for mature birds.

            </p>
        </div>

        <div class="abt5-body5"> 
            <img src=" {% static 'imagefolder/services-img05.svg' %} " alt="">
            <h2> BREEDERS FARM</h2>
            <p> This is one of the pivotal aspects of the value chain of the poultry business in Nigeria.
                 Breeders produce hatchable eggs to supply the Hatchery. Our breeders’ farm accommodates Cobb 500 and Ross 308 parent stock.</p>
        </div>

        <div class="abt5-body6">
            <img src="{% static 'imagefolder/services-img06.svg' %} " alt="">
            <h2> HATCHERY</h2>
            <P> Our eggs are hatched for 21 days under artificial conditions to Day Old Chicks. 
                Our current hatchery installed capacity is 100,000 Day Old Chicks weekly for our farms and commercial purposes. 
                It is located at Afam, Oyigbo Rivers State.</P>
        </div>
      </div>

      <div class="about5-body2">
        <div class="abt5-body7">
            <img src="{% static 'imagefolder/services-img07.svg' %} " alt="">
            <h2>RETAIL STORES & ECOMMERCE</h2>
            <p> Froshen Premium chicken & Frosh Supermarkets. 
                We produce healthy and hygienic chicken meat for the public for easy access and at an affordable cost for consumption.</p>
        </div>

        <div class="abt5-body8">
            <img src="{% static 'imagefolder/services-img08.svg' %} " alt="">
            <h2> FEED MILL</h2>
            <p> Poultry feeds are in demand for optimum egg and meat production. We have 10tonnes per hour capacity feed mill 
                factory where we produce animal feed from raw agricultural products for our farms and commercial purposes.

            </p>
        </div>

        <div class="abt5-body9">
            <img src="{%static 'imagefolder/services-img09.svg' %} " alt="">
            <h2> AGRO ESTATES</h2>
            <P> These are the plantations for Farmsponsor cash and food crops such as maize, soya beans and oil palm. 
                This also represents an investment arm of Farmsponsor aimed at providing safe investment options for individuals, 
                with years of guaranteed sustainability in our business system.

            </P>
        </div>
      </div>
    </div>
</div>

<div  class="about6">
    <h1> Our Partners</h1>
    <div class="abt6-1">
        <img src="{ % static 'imagefolder/the-promise-main.svg' %} " alt="" width="10%">
        <img src="{% static 'imagefolder/suntrust-logo (1).svg' %} " alt="" width="10%">
        <img src="{% static 'imagefolder/sterling-bank.svg' %} " alt="" width="10%">
        <img src="{%static 'imagefolder/naic-logo.svg' %} " alt="">
        <img src="{% static 'imagefolder/polaris-bank.svg' %} " alt="" width="`10%">
    </div>

    <div class="abt6-2">
        <img src="{% static 'imagefolder/firstbank-logo.svg' %} " alt="" width="15%">
        <img src="{ % static 'imagefolder/uba-bank.svg' %} " alt="" width="10%">
        <img src="{% static 'imagefolder/access-bank.svg'%} " alt="" width="10%">
        <img src="{% static 'imagefolder/farmergiant.svg' %} " alt="" width="10%">
        <img src="{% static 'imagefolder/keystone-bank.png' %} " alt="" width="10%">
    </div>
</div>

<div class="about7">
    <div class="abt7-1">
        <h1> Awards</h1>
        <p> An award is given to a recipient as a token of recognition of excellence, and we at farmsponsor has been on 
            the edge of excellence</p>
    </div>
    <div class="abt7-2">
      <div class="abt7-21">
        <img src="{% static 'imagefolder/WABEA.png' %} " alt="">
         <div class="abt7-22">
             <h2>Winner </h2>
             <p> West Africa’s best world class Agri-Tech/Agricultural Real Estate Brand of the Decade.</p>
         </div>
      </div>

      <div class="abt7-31">
        <img src="{% static 'imagefolder/AQAA.png' %} " alt="">
        <div class="abt7-32">
            <h2> Winner</h2>
            <p> Africa’s leading quality Agric-Tech Platfrom Brand of the year 2021. </p>
        </div>
    </div>
    </div>
</div>

<div class="form-main">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    
    
  <div class="form-abt">
    <h5 class="card-title">More updates from Farmsponsor?</h5>
    <div class="form-abt1">
    <input type="text" id="email" placeholder="Enter Email">
    <button class="fotterbutton"> Subcribe</button>
  </div> 
  </div>
    
  <div class="form-abt2">

      <div class="form-abtmainmain">
        <img src="{ % static 'imagefolder/fs-footer-img.svg' %} " alt="">
        <div class="form-abtmain">
          <div>
            <img src="{% static 'imagefolder/facebook.svg' % } " alt="">
          </div>
          <div>
            <img src="{ % static 'imagefolder/twitter (1).svg' %} " alt="">
          </div>
          <div>
            <img src="{ % static 'imagefolder/instagram (1).svg' %} " alt="">
          </div>
        </div>
      </div>
       
      <div class="form-abt21">
          <h2>Help</h2>
          <div >
           <a href="Help">Help</a>
          </div>

          <div>
            <a href="FAQs">FAQs</a>
          </div>

          <div>
            <a href="Contact">Contact </a>
          </div>

          <div>
           <a href="Terms and conditions"> Terms and conditions</a>
          </div>

          <div>
            <a href=" Privacy Policy">  Privacy Policy</a>
          </div>
        </div>

    <div class="form-abt22">
            <h2> Company</h2>
        
        <div>
          <a href="Home"> Home</a>
        </div>
        
        <div>
            <a href="About"> About</a>
          </div>

          <div>
           <a href="Blog"> Blog</a>
          </div>

          <div>
           <a href="Careers">Careers</a>
          </div>
      </div>

      <div class="form-abt23">
          <h2> Farmsponsor</h2>

          <div>
            <a href="How it Works">How it Works</a>
          </div>

          <div>
            <a href=" Why i Invest">  Why i Invest</a>
          </div>

          <div>
            <a href="Private sponsorship"> Private sponsorship</a>
          </div>

          <div>
            <a href=" Vestbanking"> Vestbanking</a>
          </div>
      </div>

        <div>
            <h2> Port Harcourt</h2>
            <p> No 14 old Aba road,</p>
            <p>Rumuobgba by woji junction, </p>
            <p> Port harcourt, Rivers state.</p>
            <p> farmsponsorng@gmail.com</p>
            <p> Tel: +234 702 5500 035</p>
        </div>
    </div>
</div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
</body>
</html>