{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css-folder/team.css">
    <link rel="stylesheet" href="css-folder/aboutspon.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html"> <img src="imagefolder/fs-footer-img.svg" alt="" width="200"> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              
              <li class="nav-itemm dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Company
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="aboutspon.html">About</a></li>
                  <li><a class="dropdown-item" href="#">Team </a></li>
                </ul>
              </li>
                            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Product
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#"> Froshen Chicken</a></li>
                </ul>
              </li>
    
    
                                          
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Get help
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#"> Contact </a></li>
                  <li><a class="dropdown-item" href="#"> FQA</a></li>
                </ul>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="#">VestBanking </a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="#"> Farm List</a>
              </li>
    
              <li class="button_nav">
                <button class="btn btn-outline-success">Sign in</button>
              </li>
    
             
                <button class="button_get"> Get Started</button>
              
    
      
            </ul>
          </div>
        </div>
      </nav>
   
   
      <div class="team1">
        <h1> Our Leadership Team</h1>
        <p> Farmsponsor believes so much in teamwork, Everyone irrespective of their various responsibilities 
            aligns their intellect to see the reality of lines falling into place, one step at a time. The team is a 
            community of self motivated, innovative individuals who understands the AgricTech space in line with the 
            mission and vision of ensuring food security in Africa.</p>
    </div>

<div class="team2">
    <h2> Founders</h2>
    <div class="team2-1">
      <div class="team2-11">
          <img src="imagefolder/b-kenneth.svg" alt="">
        <p> <span style="color: green;" > Bill Kenneth</span> Chairman, MD/CEO </p>
       </div>

       <div class="team2-12">
           <img src="imagefolder/tm-director.svg" alt="">
           <p> <span style="color: green;"> Akpa Chike</span> Co-founder / BDD </p>
       </div>
    </div>
</div>

<div class="team3">
    <h1> Management And Staff</h1>
 <div >
      <div class="team3-1">
        <div> 
            <img src="imagefolder/advisor.png" alt="">
            <p> <span>Ademola Olubunmi</span> General Manager</p>
        </div>

        <div> 
            <img src="imagefolder/gm-operations.svg" alt="">
            <p> <span> Ikenna Ikwegbu</span> Plant Manager </p>
        </div>
      
        <div> 
            <img src="imagefolder/lsd.svg" alt="">
            <p> <span>Elisha Ukpong</span> Lead Software Developer </p>
        </div>

        <div> 
            <img src="imagefolder/design-lead.svg" alt="">
            <p> <span>Emmanuel Jacobson</span> Design Lead </p>
        </div>
    </div>

    <div class="team3-2">
       <div> 
            <img src="imagefolder/frontend-dev.svg" alt="">
            <p> <span>Daboye Romeo</span> Lead Frontend Developer</p>
        </div>

        <div> 
            <img src="imagefolder/hr-manager.svg" alt="">
            <p> <span>Merit Joshua</span> Human Resource Manager</p>
        </div>

        <div class="sales"> 
            <img src="imagefolder/ass-sales-02.svg" alt="">
            <p> <span>Gerald Akpa </span> Sales</p>
        </div>

        <div class="sales1"> 
            <img src="imagefolder/cro.svg" alt="">
            <p> <span>Opuere Amakoromo </span> Client Relations</p>
        </div>
    </div>

    <div class="team3-3">
        <div> 
            <img src="imagefolder/logistics-02.svg" alt="">
            <p> <span>Promise Imeh </span>Logistics</p>
        </div>

        <div> 
            <img src="imagefolder/cro-03.png" alt="">
            <p> <span>Catherine Umerah</span> Client Relations</p>
        </div>

        <div> 
            <img src="imagefolder/stock-keeper.svg" alt="">
            <p> <span>Atoyebi Olamide </span> Stock Keeper</p>
        </div>

        <div> 
            <img src="imagefolder/account-02.png" alt="">
            <p> <span>Confidence Ekeke </span> Account</p>
        </div>
    </div>

    <div class="team3-4">
        <div>
            <img src="imagefolder/cro-05.png" alt="">
            <p> <span> Emmanuella Anthony</span> Client Relations</p>
        </div>

        <div>
            <img src="imagefolder/marketing-exec.png" alt="">
            <p> <span> Peterson Okereke</span> Marketing Executive</p>
        </div>
        
        <div>
            <img src="imagefolder/quality-control.svg" alt="">
            <p> <span>Raifu Tolulope</span> Quality Control Manager</p>
        </div>

        <div>
            <img src="imagefolder/cro-04.svg" alt="">
            <p> <span>Anastesia Onyekelu</span> Client Relations</p>
        </div>
   </div>

<div class="team3-5">
     <div>
        <img src="imagefolder/account.png" alt="">
        <p> <span>Ozioma Ugochukwu </span> Account</p>
    </div>

    <div>
        <img src="imagefolder/customer-success.png" alt="">
        <p> <span>Amarachi Okore</span>Sucess/Client Relations</p>
    </div>

    <div>
        <img src="imagefolder/customer-success.png" alt="">
        <p> <span>Amarachi Okore</span>Sucess/Client Relations</p>
    </div>

    <div>
        <img src="imagefolder/gm-operations.svg" alt="">
        <p> <span>Akinmoye Oluwatosin</span>Sales</p>
    </div>
 </div>

  <div class="team3-6">
    <div>
        <img src="imagefolder/allen-mafe.png" alt="">
        <p> <span>Dr. Allen Mafe</span>Resident Vetenary Doctor</p>
    </div>

    <div>
        <img src="imagefolder/akande-olayinka.png" alt="">
        <p> <span>Akande Olayinka</span>Animal Scientist</p>
    </div>

    <div>
        <img src="imagefolder/nandang-jesse.png" alt="">
        <p> <span>Dr. Nandang Jesse</span>Resident Vetenary Doctor</p>
    </div>

    <div>
        <img src="imagefolder/theophilus-ordondo.png" alt="">
        <p> <span>Theophilus Ordondo</span>Hatchery Manager</p>
    </div>
  </div>


  <div class="team3-7">
    <div>
        <img src="imagefolder/francis-umahi.png" alt="">
        <p> <span>Francis Umahi</span>Human Resources</p>
    </div>

    <div>
        <img src="imagefolder/christopher-anthony.png" alt="">
        <p> <span>Christopher Anthony</span>Hatchery Supervisor</p>
    </div>

    <div>
        <img src="imagefolder/emmanuel-agbo.png" alt="">
        <p> <span>Dr. Emmanuel Agbo</span>Vetenary Doctor</p>
    </div>

    <div>
        <img src="imagefolder/lucky-obuite.png" alt="">
        <p> <span>Lucky Obuite </span>Financial Controller</p>
    </div>
  </div>

  <div class="team3-8">
    <div>
        <img src="imagefolder/godswill-ikiriko.png" alt="">
        <p> <span>Godswill Ikiriko </span>Lab Scientist</p>
    </div>

    <div>
        <img src="imagefolder/kalu-anya.png" alt="">
        <p> <span>Kalu Anya </span>QHSE Officer</p>
    </div>

    <div>
        <img src="imagefolder/chife-chisom.png" alt="">
        <p> <span>Chife Chisom </span>Admin Officer</p>
    </div>

    <div>
        <img src="imagefolder/philip-joseph.png" alt="">
        <p> <span>Philip Joseph</span>Procurement</p>
    </div>
  </div>


  <div class="team3-9 ">
    <div>
        <img src="imagefolder/joseph-account.png" alt="">
        <p> <span>Ilesanmi Joseph</span>Financial Reporting/Control</p>
    </div>

    <div>
        <img src="imagefolder/timothy-neebari.png" alt="">
        <p> <span>Timothy Neebari</span>Stock Keeper</p>
    </div>

    <div>
        <img src="imagefolder/jackson-nkereuwem.png" alt="">
        <p> <span>Jackson Nkereuwem</span>Sales</p>
   </div>
  </div>     
 </div>
</div>

<div class="team4">
    <h1>Advisors/Legal</h1>

    <div class="team4-1">
     <div>
        <img src="imagefolder/legal.svg" alt="">
        <p> <span>Ogadinma Nduka</span> Legal</p>
    </div>
    
    <div>

        <img src="imagefolder/advisor-paul.png" alt="">
        <p> <span>Dr Paul Adoyi</span> Advisor</p>
    </div>

    <div>

        <img src="imagefolder/titi-savage.png" alt="">
        <p> <span>Titi Savage</span> Advisor</p>
    </div>
</div>
</div>
    



<div class="form-main">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      
      
    <div class="form-abt">
      <h5 class="card-title">More updates from Farmsponsor?</h5>
      <div class="form-abt1">
      <input type="text" id="email" placeholder="Enter Email">
      <button class="fotterbutton"> Subcribe</button>
    </div> 
    </div>
      
    <div class="form-abt2">
  
        <div class="form-abtmainmain">
          <img src="imagefolder/fs-footer-img.svg" alt="">
          <div class="form-abtmain">
            <div>
              <img src="imagefolder/facebook.svg" alt="">
            </div>
            <div>
              <img src="imagefolder/twitter (1).svg" alt="">
            </div>
            <div>
              <img src="imagefolder/instagram (1).svg" alt="">
            </div>
          </div>
        </div>
         
        <div class="form-abt21">
            <h2>Help</h2>
            <div >
             <a href="Help">Help</a>
            </div>
  
            <div>
              <a href="FAQs">FAQs</a>
            </div>
  
            <div>
              <a href="Contact">Contact </a>
            </div>
  
            <div>
             <a href="Terms and conditions"> Terms and conditions</a>
            </div>
  
            <div>
              <a href=" Privacy Policy">  Privacy Policy</a>
            </div>
          </div>
  
      <div class="form-abt22">
              <h2> Company</h2>
          
          <div>
            <a href="Home"> Home</a>
          </div>
          
          <div>
              <a href="About"> About</a>
            </div>
  
            <div>
             <a href="Blog"> Blog</a>
            </div>
  
            <div>
             <a href="Careers">Careers</a>
            </div>
        </div>
  
        <div class="form-abt23">
            <h2> Farmsponsor</h2>
  
            <div>
              <a href="How it Works">How it Works</a>
            </div>
  
            <div>
              <a href=" Why i Invest">  Why i Invest</a>
            </div>
  
            <div>
              <a href="Private sponsorship"> Private sponsorship</a>
            </div>
  
            <div>
              <a href=" Vestbanking"> Vestbanking</a>
            </div>
        </div>
  
          <div>
              <h2> Port Harcourt</h2>
              <p> No 14 old Aba road,</p>
              <p>Rumuobgba by woji junction, </p>
              <p> Port harcourt, Rivers state.</p>
              <p> farmsponsorng@gmail.com</p>
              <p> Tel: +234 702 5500 035</p>
          </div>
      </div>
  </div>
</div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
</body>
</html>